In [3]:
import pandas as pd

In [4]:
df_alarms = pd.read_csv('raw_csv/alarms.csv',sep=';')

In [17]:
df_alarms

,region_id,region_title,region_city,all_region,start,end,clean_end,intersection_alarm_id,duration,duration_in_mins_int
0,3,Вінниччина,Вінниця,0,2022-02-25 22:55:42,2022-02-25 23:41:53,2022-02-25 23:41:53,NaN,0 days 00:46:11,46
1,12,Львівщина,Львів,0,2022-02-26 06:26:17,2022-02-26 07:15:28,2022-02-26 07:15:28,NaN,0 days 00:49:11,49
2,14,Одещина,Одеса,0,2022-02-26 07:16:58,2022-02-26 07:47:03,2022-02-26 07:47:03,NaN,0 days 00:30:05,30
3,6,Житомирщина,Житомир,0,2022-02-26 08:05:54,2022-02-26 09:36:36,2022-02-26 09:36:36,NaN,0 days 01:30:42,90
4,3,Вінниччина,Вінниця,0,2022-02-26 08:39:39,2022-02-26 10:42:41,2022-02-26 10:42:41,NaN,0 days 02:03:02,123
...,...,...,...,...,...,...,...,...,...,...
19928,5,️Донеччина,Донецька обл.,1,2023-01-20 22:39:41,2023-01-20 23:18:12,2023-01-20 23:18:12,NaN,0 days 00:38:31,38
19929,19,Харківщина,Харківська обл.,1,2023-01-20 22:39:52,2023-01-20 23:17:36,2023-01-20 23:17:36,NaN,0 days 00:37:44,37
19930,15,Полтавщина,Полтавська обл.,1,2023-01-20 22:44:30,2023-01-20 23:17:22,2023-01-20 23:17:22,NaN,0 days 00:32:52,32
19931,17,Сумщина,Сумська обл.,1,2023-01-20 22:47:57,2023-01-20 23:22:34,2023-01-20 23:22:34,NaN,0 days 00:34:37,34
19932,10,Кіровоградщина,Світловодськ,0,2023-01-20 22:51:11,2023-01-20 23:17:45,NaT,NaN,0 days 00:26:34,26

In [6]:
df_alarms.describe()

In [7]:
df_alarms['start']=pd.to_datetime(df_alarms['start'])
df_alarms['end']=pd.to_datetime(df_alarms['end'])
df_alarms['clean_end']=pd.to_datetime(df_alarms['clean_end'])

In [8]:
df_alarms['duration']=df_alarms['end']-df_alarms['start']
df_alarms['duration_in_mins_int'] = df_alarms['duration'].dt.total_seconds().div(60).astype(int).sort_values()

In [9]:
df_alarms.loc[:, 'duration_in_mins_int'].describe()

In [10]:
df_alarms = df_alarms.drop(['id'], axis = 1)

In [18]:
df_alarms.shape

(19933, 10)

In [12]:
OUTPUT_FOLDER = "5_events"
EVENTS_OUTPUT_DATA_FILE = "all_events.csv"
df_alarms.to_csv(f"{OUTPUT_FOLDER}/{EVENTS_OUTPUT_DATA_FILE}", sep=";", index=False)